.interactiveTable {
    width: 100%;
    overflow: auto;
}

.tableControls {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}

.tableControls input {
    margin-right: 10px;
}

.sortIcon {
    color: var(--text-primary)
}

.addColumnBtn {
    cursor: pointer;
}

.modal {
    background: var(--background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalInput {
    margin-bottom: 10px;
}

.draggableRowHighlight:hover {
    background-color: var(--opacity-accent);
}

.draggableRowHighlight {
    font-weight: bold;

    td {
        border-top: 1px solid var(--accent);
        border-bottom: 1px solid var(--accent);

        padding: 8px;
        text-align: left;
    }
}

.contextMenu {
    position: absolute;
    background: var(--background);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
}

.contextMenu button {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.contextMenu button:hover {
    background: var(--opacity-accent);
}

button {
    background-color: var(--accent);
    color: var(--text-accent);
    border-radius: 5px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
}