* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100%;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
button {
  margin: 0;
  padding: 0;
}

button {
  background-color: unset;
  color: unset;
  border: none;
}

input:focus {
  outline: 2px solid var(--opacity-accent);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background);
  border: 1px solid var(--border-color);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

td {
  position: relative;
}

td:hover,
th:hover {
  background: var(--opacity-accent);
}

select {
  padding: 5px;
  font-size: 16px;
  border: 2px solid var(--opacity-accent);
  border-radius: 4px;
  background-color: var(--background);
  color: var(--text-primary);
  cursor: pointer;
}

option {
  background-color: var(--background);
  color: var(--text-primary);
}

option:hover {
  background-color: var(--opacity-accent);
}


:root {
  --background: #ffffff;
  --border-color: #D9D9D9;
  --text-primary: #0D0D0D;
  --accent: rgba(67, 78, 175, 1);
  --text-accent: #ffffff;
  --opacity-accent: rgba(67, 78, 175, 0.2);
  --color-schema-blueViolet: #434EAF;
  --color-schema-blue: #0B0EAF;
  --color-schema-lightBlue: #36BCD3;
  --color-schema-green: #3C8B3C;
  --color-schema-darkGreen: #1D4221;
  --color-schema-greenYellow: #A4A428;
  --color-schema-violet: #582D95;
  --color-schema-lavander: #868BF9;
  --color-schema-pink: #CB53A7;
  --color-schema-brown: #460303;
  --color-schema-red: #BF1619;
  --color-schema-orange: #CF5E21;
}

[data-theme='light-blue'] {
  --background: #ffffff;
  --border-color: #D9D9D9;
  --text-primary: #0D0D0D;
  --accent: rgba(67, 78, 175, 1);
  --opacity-accent: rgba(67, 78, 175, 0.2);
  --text-accent: #ffffff;
}

[data-theme='dark-blue'] {
  --background: #000000;
  --border-color: #D9D9D9;
  --text-primary: #ffffff;
  --accent: rgba(67, 78, 175, 1);
  --opacity-accent: rgba(67, 78, 175, 0.2);
  --text-accent: #ffffff;
}

[data-theme='light-red'] {
  --background: #ffffff;
  --border-color: #D9D9D9;
  --text-primary: #0D0D0D;
  --accent: rgb(198, 74, 76);
  --opacity-accent: rgba(198, 74, 76, 0.2);
  --text-accent: #ffffff;
}

[data-theme='dark-red'] {
  --background: #000000;
  --border-color: #D9D9D9;
  --text-primary: #ffffff;
  --accent: rgb(198, 74, 76);
  --opacity-accent: rgba(198, 74, 76, 0.2);
  --text-accent: #ffffff;
}

.primary-button {
  background-color: var(--accent);
  color: var(--text-accent);
  border-radius: 5px;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
}

.primary-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.outlined-button {
  background-color: unset;
  color: var(--text-primary);
  border: 2px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
}